# Add any directories, files, or patterns you don't want to be tracked by version control
*.pyc
.idea
*.log
*.swp
*.py.orig
*.html.orig
*/migrations/00*
media/*
static_files/*
logs/*

blog/__pycache__/*
*db.sqlite3
blog/__pycache__/*
blog/migrations/*