{% extends "base.html" %} 
{% block content %}

<div class="container px-0">
  <div class="row">
    {% for post in post_list %}
    <div class="col-md-4">

      <div class="blog_card">
        <a href="{% url 'post_detail' post.slug  %}">
          <p class="blog_date">{{post.created_on}} </p>
          <h2 class="blog_title">{{ post.title }}</h2>
          
          <p class="blog_description">{{post.content|slice:":200" }}</p>
          <p class="">by <span class="blog_author">{{ post.author }}</span></p>
          <!-- <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a> -->
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
    
</div>




{%endblock%}